# Ambiente
.env
venv/
.venv/
__pycache__/
*.pyc

# Banco local
db.sqlite3
db.sqlite3-journal

# Estáticos coletados
staticfiles/

# Media (uploads)
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
logs/*.log


dados_backup.json
dados_backup_utf8.json
dados_fix.json